# WEEK-1: Assessment (Shaik Azaroddin)

Question1:
    1. Read the data from the url location using pandas library function read_csv("url name")
    2.the url lnks is:"https://raw.githubusercontent.com/svkarthik86/Fundamentals-of-statistics-and-probability/main/car.csv")
    3.the summaries the  descriptive statistics
    4.Find centeral tendancy for first three columns

In [6]:
import numpy as np
import pandas as pd
import scipy

In [4]:
car_data=pd.read_csv("https://raw.githubusercontent.com/svkarthik86/Advanced-python/main/Python%20for%20DataVisualization/data/car_financing.csv")

# Answer

In [5]:
car_data.describe()

,Month,Starting Balance,Repayment,Interest Paid,Principal Paid,New Balance,term,interest_rate
count,408.000000,408.000000,408.000000,408.000000,408.000000,408.000000,408.000000,408.000000
mean,26.970588,17562.870343,712.134118,56.715123,655.418995,16907.451348,52.941176,0.039603
std,16.207776,11224.423084,247.447947,40.775353,245.361625,11168.974693,9.268926,0.013414
min,1.000000,395.410000,396.820000,1.280000,326.620000,-0.490000,36.000000,0.029000
25%,13.000000,8557.900000,486.740000,26.257500,476.972500,7832.080000,48.000000,0.029000
50%,26.000000,16262.230000,661.995000,50.640000,598.135000,15539.305000,60.000000,0.037450
75%,39.250000,25285.055000,796.010000,76.357500,760.790000,24535.925000,60.000000,0.039000
max,60.000000,44409.600000,1289.530000,202.930000,1286.430000,43720.910000,60.000000,0.070200